@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  font-family: sans-serif;  
}

body{

   background-image: -webkit-radial-gradient(rgb(255, 255, 255),rgb(0, 102, 255),rgb(255, 0, 0));
}

/* modelo */
.modelo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
   background: rgba(8, 1, 70, 0.492);
  box-shadow: 0 4px 30px rgba(19, 0, 0, 0.1);
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);
  border-radius: 2.1rem;
  margin: 5rem auto;
  gap: 2.1rem;
  margin-bottom: 2rem;
}

.modelo  h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 3rem 0 2rem;
  color: #ffffff;
}

.modelo  small {
  font-weight: 400;
}

.modelo-content {
  width: 56.25rem;
}

.modelo iframe {
  width: 100%;
}

/* Responsividade */

@media (max-width: 900px) {
  .modelo-content {
    width: 100%;
  }

  .modelo h2 {
    text-align: center;
  }
}
/* Responsividade */

/* modelo */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .container .img {
    width: 220px;
    height: 220px;
  }
  .about {
    padding: 2rem 1rem;
  }
}
/*modelo */

/* Rodape  */
footer {
    
  width: 100%;
	background: rgba(0, 0, 0, 0.492);
  box-shadow: 0 4px 30px rgba(238, 255, 0, 0.1);
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);
	color: #fff;
  font-size: 20px;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

/* Rodape  */